.patientDetailsWhiteframe {
  padding: 10px;
  margin: 5px;
  background: cornsilk;
}

.patientDetailsWhiteframe .title {
  font-weight: bold;
}

.patientDetailsWhiteframe .details {
  padding-top: 5px;
  margin-top: 5px;
  width: 100%;
}

.patientDetailsWhiteframe .details .detailsRow {
  border-top: 1px solid #ccc;
  padding: 5px;
}

.patientDetailsWhiteframe .details .detailsRow .system {
  text-transform: capitalize;
  word-break: break-word;
  max-width: 50%;
  margin-right: 10px;
}

.patientDetailsWhiteframe .details .detailsRow .value {
  word-break: break-word;
  max-width: 50%;
  font-weight: bold;
}