[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html {
  height: 100%;
}

body {
  margin: 0px;
  width:100%;
  height: 100%;
  background-color: #ccccde;
}

.container {
  margin: 0 auto;
  width: 70%;
  height: 100%;
}