dashboard-header .container {
  background-color: #f3f3f7;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

dashboard-header .title {
  color: #b081a8;
  margin: 0px;
  font-family: arial;
  font-weight: normal;
}

dashboard-header .option {
  color: #989298;
  margin: 0px;
  font-family: arial;
  font-weight: normal;
  padding: 10px;
}

md-icon.icon {
  width: 35px;
  height: 35px;
  font-size: 33px;
}