<md-content>
  <link rel="stylesheet" href="app/scripts/directives/patients-list/style.css" />

  <div ng-if="patients.count > 0">
    <md-table-container>
      <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
        <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
          <tr md-row ng-class="{'squash-thead': singlePatient}">
            <th width="50"></th>
            <th md-column><span>Name</span></th>
            <th md-column><span>Surname</span></th>
            <th md-column><span>Gender</span></th>
            <th md-column><span>TrackNet ID#</span></th>
            <th md-column><span>Date of Birth</span></th>
            <th md-column ng-if="!singlePatient">Match</th>
            <th width="50" ng-if="!singlePatient"></th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat-start="patient in patients.data | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit"
            class="patientsListRow"
            ng-class="{'stretch-tr': singlePatient}"
            ng-click="togglePatientDetails(patient)">
            <td md-cell>
              <i class="material-icons" ng-if="patient._control.showPatientDetails">expand_less</i>
              <i class="material-icons" ng-if="!patient._control.showPatientDetails">expand_more</i>
            </td>
            <td md-cell>{{patient.name.given}}</td>
            <td md-cell>{{patient.name.family}}</td>
            <td md-cell>{{patient.gender}}</td>
            <td md-cell>{{patient.tracnetID}}</td>
            <td md-cell>{{patient.birthDate}}</td>
            <td md-cell ng-if="!singlePatient">
              <span class="matchlabel" ng-class="{'certain': patient.search.extension.valueCode == 'certain' , 'possible': patient.search.extension.valueCode == 'possible', 'probable': patient.search.extension.valueCode == 'probable' } ">
                {{patient.search.extension.valueCode}} ({{patient.search.score * 100 | number : 2}}%)
              </span>
            </td>
            <td md-cell ng-if="!singlePatient">
              <a href="#/patients/{{patient.id}}/add-event" class="md-button md-primary md-raised">View</a>
            </td>
          </tr>
          <tr ng-if="patient._control.showPatientDetails" ng-repeat-end>
            <td colspan="8" class="showPatientDetails">
              <patients-list-row-details patient="patient"></patients-list-row-details>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>

    <md-table-pagination ng-if="!singlePatient" md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{patients.count}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
  </div>

  <div layout="row" layout-align="center center" ng-if="patients && !singlePatient" style="padding: 10px;">
    <div flex-sm="90" flex-gt-sm="70" flex-gt-md="50" layout="column" layout-align="center center">
      <div ng-if="patients.count > 0">Not finding the Patient you are looking for? </div>
      <div ng-if="patients.count === 0">No results found matching your query.</div>

      <div>
        <button class="md-button md-primary md-raised" ng-click="clearSearch()">Clear Search</button>
        <span flex>OR</span>
        <button class="md-button md-primary md-raised">Create patient</button>
      </div>
    </div>
  </div>
</md-content>