<!doctype html>
<header state="state"></header>

<div>
  <div ng-if="getPatientError">{{ getPatientError }}</div>

  <div ng-if="!getPatientError" layout="column">
    <div md-whiteframe="2">
      <patients-list ng-if="state.patients" results="state.patients" single-patient="state.singlePatient"></patients-list>
    </div>

    <div layout="row" flex="100">
      <div flex="20" md-whiteframe="2" class="dashboard-whiteframe">
        <event-selector -events="events" set-selected-event="setSelectedEvent(selectedEvent)" patient="state.patients[0].resource"></event-selector>
      </div>
      <div flex="80" md-whiteframe="2" class="dashboard-whiteframe">
        <add-event -event="selectedEvent" patient="state.patients[0].resource"></add-event>
      </div>
    </div>
  </div>
</div>
  