<!doctype html>
<header state="state"></header>

<div>
  <div ng-if="getPatientError">{{ getPatientError }}</div>

  <div ng-if="!getPatientError" layout="column">
    <div md-whiteframe="2">
      <patients-list ng-if="state.patients" results="state.patients" single-patient="state.singlePatient"></patients-list>
    </div>

    <div layout="row">
      <div flex="20" md-whiteframe="2" class="dashboard-whiteframe">
        <cbs-event-selector cbs-events="cbsEvents" set-selected-event="setSelectedEvent(selectedEvent)" patient="state.patients[0].resource"></cbs-event-selector>
      </div>
      <div flex="80" layout="column">
        <div md-whiteframe="2" class="dashboard-whiteframe">
          <add-cbs-event cbs-event="selectedEvent" patient="state.patients[0].resource"></add-cbs-event>
        </div>
      </div>
    </div>
  </div>
</div>
  