<!doctype html>
<div layout="column" layout-align="start center">
  <div layout="row" layout-align="center center" layout-padding>
    <img src="app/images/Coat_of_arms_of_Rwanda.svg.png" width="250" height="250" />
  </div>
  <div layout="row" layout-align="center center" layout-padding>
    <md-whiteframe flex="100" flex-gt-md="50" class="md-whiteframe-3dp dashboard-whiteframe center-text">
      <h1>OpenCRVS Immunisation App</h1>
      <div class="landing-paragraph notice">
        <md-icon style="color:#ff6b00">info</md-icon>
        <b>Please note</b>
        this demo is public and no real patient data should be
        entered. A large number of test patients have been pre-loaded into the
        MPI to allow you to see the fuzzy matching in action. Any data that you
        enter may be reset every night.
      </div>
      <div class="landing-paragraph">
        This is a mockup application that demonstrates a possible workflow for
        case-based surveillance in Rwanda. It focusses on showing how duplication
        of patient records can be minimized through the use of a national Master
        Patient Index (MPI). It follows <a href="http://ohie.org">OpenHIE</a> workflows for patient management
        as well as for saving clinical data (i.e. Immunisation events) to a Shared Health
        Record.
      </div>
      <div class="landing-paragraph">
        The MPI uses fuzzy matching techniques to accurately search for patients
        to minimise the creation of duplicate client records. The MPI in use is a
        FHIR server developed by <a href="http://jembi.org">Jembi Health Systems</a>. This FHIR server also acts
        as a Shared Health Record which stores Immunisation events.
      </div>
      <div class="landing-paragraph">
        For more detailed information about the demo, see <a href="https://docs.google.com/document/d/1MSJM-wEDVm9rNGOewqb-Olyeibg_tKeV8QAWLXJStAM/edit">this document</a>.
      </div>
      <div layout="row" layout-align="end center">
        <a class="md-button md-raised md-primary" href="#/patients">I understand</a>
      </div>
    </md-whiteframe>
  </div>
</div>
