<!doctype html>
<div layout="row" layout-align="center center" layout-padding style="min-height: 80%">
  <md-whiteframe flex="100" flex-gt-sm="30" class="md-whiteframe-3dp dashboard-whiteframe center-text">
    <h1>GoodHealth Immunisation App for OpenCRVS demo</h1>
    <div class="landing-paragraph notice">
      <md-icon style="color:#ff6b00">info</md-icon>
      <b>Please note</b>
      this demo is public and no real patient data should be
      entered. A large number of test patients have been pre-loaded into the
      MPI to allow you to see the fuzzy matching in action. Any data that you
      enter may be reset every night.
    </div>
    <div layout="row" layout-align="end center">
      <a class="md-button md-raised md-primary" href="#/patients">I understand</a>
    </div>
  </md-whiteframe>
</div>
