<!doctype html>
<header state="state"></header>

<div md-whiteframe="2">
  <patients-list ng-if="state.patients" results="state.patients" single-patient="state.singlePatient"></patients-list>
</div>

<div flex="70" flex-offset="15">
  <timeline>
    <timeline-event>
      <timeline-badge class="warning">
        <md-icon>add</md-icon>
      </timeline-badge>
      <timeline-panel flex>
        <timeline-heading>
        </timeline-heading>
        <md-button class="md-primary md-raised" ng-click="addEvent()">Add new event</md-button>
      </timeline-panel>
    </timeline-event>
    <timeline-event ng-repeat="eventItem in events">
      <timeline-badge class="info">
        <md-icon>event_note</md-icon>
      </timeline-badge>
      <timeline-panel flex class="info">
        <timeline-heading>
          <h4>{{eventItem.eventTitle}} - {{eventItem.eventDate}}</h4>
        </timeline-heading>
        <display-event-data event="eventItem"></display-event-data>
      </timeline-panel>
    </timeline-event>
  </timeline>
</div>
