<!doctype html>
<header state="state"></header>

<div md-whiteframe="2">
  <patients-list ng-if="state.patients" results="state.patients" single-patient="state.singlePatient"></patients-list>
</div>

<div flex="70" flex-offset="15">
  <timeline>
    <timeline-event class="timelineAddEvent">
      <md-button class="md-primary md-raised" ng-click="addEvent()">Add event</md-button>
    </timeline-event>
    <timeline-event ng-repeat="eventItem in events" ng-class="{timelineCustom: $index != 0}">
      <timeline-badge class="event1" ng-if="eventItem.eventType === 'birth-event'">
        <md-icon>link</md-icon>
      </timeline-badge>
      <timeline-panel flex class="info">
        <timeline-heading ng-class="{'event1': eventItem.eventType == 'birthEvent' } ">
          <h4>{{eventItem.eventTitle}} -
            <span>
              {{fromNowDate(eventItem.eventDate)}}
              <md-tooltip md-delay="200">{{eventItem.eventDate | date:'yyyy-MM-dd'}}</md-tooltip>
            </span>
          </h4>
        </timeline-heading>
        <display-event-data event="eventItem"></display-event-data>
      </timeline-panel>
    </timeline-event>
  </timeline>
</div>
